<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div class="container">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <h2 class="blog-description">{{@blog.description}}</h2>

        <div class="site-head-social">
            <a class="github" href="http://github.com/irisSchaffer"><span class="fa fa-github fa-fw"></span></a>
            <a class="twitter" href="https://twitter.com/iris_schaffer"><span class="fa fa-twitter fa-fw"></span></a>
            <a class="facebook" href="https://www.facebook.com/iris.schaffer"><span class="fa fa-facebook fa-fw"></span></a>
            <a class="linkedin" href="https://www.linkedin.com/pub/iris-schaffer/98/737/91b"><span class="fa fa-linkedin fa-fw"></span></a>
            {{! <a class="stack-overflow"><span class="fa fa-stack-overflow fa-fw"></span></a> }}
        </div>
        </div>
    </div>
</header>